:root {
    --bg-color: #081b29;
    --secondary-bg-color: #112e42;
    --text-color: #E0FFFF;
    --main-color: #00FA9A;
}

body {
    width: 300px;
    padding: 20px;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.popup-container {
    text-align: center;
}

.header {
    background-color: var(--secondary-bg-color);
    color: #ffffff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

.header h1 {
    margin: 0;
}

.main-content {
    padding: 20px;
}

p {
    margin: 10px 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--main-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.button-container {
    margin-top: 20px;
}

button {
    margin: 5px;
    padding: 10px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

.result {
    margin-top: 20px;
    padding: 20px;
    background-color: var(--secondary-bg-color);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.result h2 {
    margin-bottom: 10px;
}

.result h1 {
    text-decoration: solid;
    color: var(--main-color);
    text-size-adjust: 20px;
    border: 2px solid white;
}


/* animate */

.text-animate {
    position: relative;

}

.text-animate h3 {
    font-size: 25px;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: -webkit-linear-gradient(var(--main-color));
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-position: 0 0;

}

 .text-animate h3 {
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}

 .text-animate h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
}

@keyframes homeBgText {

    0%,
    10%,
    100% {
        background-position: -33rem 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }
}